apiVersion: v1
kind: Service
metadata:
  name: demo-service
spec:
  selector:
    app: demo-app
    version: green # service ban đầu chỉ trỏ vào Blue
  ports:
    - port: 80
      targetPort: 80
      type: ClusterIP
